.right .recent-updates {
  margin-top: 6rem;
}

.right .recent-updates h2 {
  margin-bottom: 1.5rem;
  color: var(--color-text);
}

.right .recent-updates .updates {
  background: var(--color-white);
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.right .recent-updates .updates .update {
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.message p {
  margin-bottom: 0.3rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
