:root {
  --color-primary: #181A1E;
  --color-white: #fff;
  --color-text: #EDEFFD;
  --color-texte:#EDEFFD;
  --color-card:#363949;
  --color-light: rgba(132, 139, 200, 0.1);
  --secondary-color: #ff7956;
  --color-grise: #d9d9d9;
  --box-shadow: 0 2rem 3rem var(--color-light);
  --box-shadow-base: 4px 4px 50px 10px rgba(0, 0, 0, 0.1);
 
}

.recent-updates {
  margin-top: 5rem;
  padding-left: 2rem;
  border-left: .1rem solid #fff;
  overflow: auto;
}

.recent-updates h2 {
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--color-texte);
}


.right .recent-updates .updates .update {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.profile-photo-artist {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.message p{
  color: var(--color-texte);
  font-weight: 600;
  font-size: 1rem;
}
