:root{
  --color-primary: #f4f5fe;
  --color-white: #fff;
  --color-text: #15111e;
  --secondary-color: #ff7956;
  --color-grise: #d9d9d9;
  --box-shadow: 0 2rem 3rem var(--color-light);
  --box-shadow-base: 4px 4px 50px 10px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --color-background: #181A1E;
  --color-text: #EDEFFD;
  --color-card: #363949;
}