.container {
  display: grid;
  width: 95%;
  margin: 0 auto;
  gap: 1rem;
  grid-template-columns: 12rem auto 20rem;
}

a {
  color: var(--color-text);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}
.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
