:root {
  --color-primary: #181a1e;;
  --color-white: #fff;
  --color-text: #EDEFFD;
  --color-texte:#EDEFFD;
  --color-card:#363949;
  --color-light: rgba(0, 0, 0, 0.4);
  --secondary-color: #ff7956;
  --color-grise: #d9d9d9;
  --box-shadow: 0 2rem 3rem var(--color-light);
  --box-shadow-base: 4px 4px 50px 10px rgba(0, 0, 0, 0.1);
 
}

.right .top {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  margin-top: .8rem;
}

.top button {
  display: none;
}

.right .top .profile {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  background: #202528;
  padding:.5rem;
  border-radius: 1rem;
  border: .1rem solid var(--secondary-color);
}

.info p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-texte);
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

/* ===== MEDIA QUERY === */

@media screen and (max-width:1200px){
  
}

@media screen and (max-width:992px){
 
}
@media screen and (max-width:768px){
  .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: #202528;
    /* box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4); */
    width: 100%;
    margin: 0!important;
    z-index: 3;
  }

  .top .profile{
    border: none !important;
    background: transparent!important;
    padding: 0 !important;
  }

  .top .info{
    display: none;
  }

  .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: white;
    position: absolute;
    left: 1rem;
  }

  .top button span {
    font-size: 2rem;
  }
}

@media screen and (max-width:576px){
  
}
