:root {
  --color-primary: #181A1E;
  --color-white: #fff;
  --color-text: #EDEFFD;
  --color-texte:#EDEFFD;
  --color-card:#363949;
  --color-light: rgba(132, 139, 200, 0.1);
  --secondary-color: #ff7956;
  --color-grise: #d9d9d9;
  --box-shadow: 0 2rem 3rem var(--color-light);
  --box-shadow-base: 4px 4px 50px 10px rgba(0, 0, 0, 0.1);
 
}

/* .sidebar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
} */
aside {
  height: 100vh;
}
/* aside {
  width: 100%;
  background: #fff;
  width: 100%;
  height: 100%;
  padding-left: 1.5rem;
  padding-top: 1rem;
} */

aside .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 2.8rem; */
  margin-top: 1.4rem; /* Ajout */
}

aside .logo {
  display: flex;
  gap: 0.8rem;
  /* align-items: flex-end; */ /*retire */
}

.logo-text {
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--color-texte);
  margin-left: -0.7rem;
}

aside .logo img {
  width: 4rem;
  height: 3.5rem;
}

.danger {
  color: var(--secondary-color);
}

/* ==== SIDEBAR ===== */
aside .sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 2rem;
}

aside h3 {
  font-weight: 400;
  font-size: 1.3rem;
}

/* .playlist{
  margin-left: 2rem;
} */

aside .sidebar a {
  display: flex;
  color: var(--color-texte);
  margin-left: 0.2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  /* transition: all 300ms ease; */
}

aside .sidebar a:hover::before{
  /* content: "";
  width: .7rem;
  height: 100%;
  background:var(--secondary-color); */
}
aside .sidebar a span {
  font-size: 2rem;
  transition: all 300ms ease;
}

aside .sidebar a:last-child {
  position: absolute;
   color: var(--color-white);
  background:var(--secondary-color);
  border-radius: 1rem;
  padding: .5rem;
  bottom: 5rem;
  width: 90%;
}
aside .sidebar a:last-child:hover{
  background:var(--color-primary);
  color: var(--secondary-color);
  border: .1rem solid var(--secondary-color);
}

.connect{
  font-size: 1rem;
}

/* aside .sidebar a.active span {
  color: var(--color-white);
} */

aside .sidebar a:hover {
  /* background: var(--color-text);*/
  color: var(--secondary-color);
  /*margin-left: 0; */
}

/* aside .sidebar a:hover span {
  margin-left: .5rem;
} */

.active{
   background: var(--color-card);
   color: var(--secondary-color)!important;
   margin-left: 0;
}

.active::before{
   content: "";
  width: .7rem;
  height: 100%;
  background:var(--secondary-color);
}

